# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
BASENAME=/
#BACKEND_URL=


#PARA DESCOMENTAR Y PONER EN EL .env:

# API_KEY="AIzaSyArbOo16MioTKR95rZ_3azH53It2TV-KpM"
# AUTH_DOMAIN="trippy-bucket.firebaseapp.com"
# PROJECT_ID="trippy-bucket"
# STORAGE_BUCKET="trippy-bucket.appspot.com"
# MESSAGING_SENDER_ID="261092090531"
# APP_ID="1:261092090531:web:fa3b6380b63002c1f25516"
