.container {
    gap: 20px;
    padding: 20px;
}

.text-activity {
    justify-content: start;
    align-items: baseline;
}

.title-activity {
    justify-content: start;
}

.icon {
    width: 100;
    height: 100px;
}

.icon-activity{
    margin: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: start;
}

.text-card {
    flex: 1;
    max-width: 500px;
}

.imagen-card{
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.imagen-adventure {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.task {
    border-radius: 20px;
    background-color: rgb(211, 211, 211);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    margin-bottom: 5px;
}