.logo{
    width: 70px;
}
.footer-items{
    justify-content: center;
}

.footer{
    justify-content: center;
    margin: 20px;
}

.text-footer{
    font-size: 13px;
    align-items: center;
    text-align: end;
}