.image {
    align-items: center;
    display: flex;
}

.img-viaje {
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}

.group-name {
    text-align: center;
}

.activity-name {
    text-align: right;
    font-size: 13px;
    margin-right: 15px;
}

.trip-cost {
    text-align: end;
    background-color: rgb(34, 146, 164);
    border-radius: 5px;
    font-size: 13px;  
}

.costs{
    text-align: right;
    margin-right: 15px;
}

.delete-trip{
    align-items: center;
    margin: 15px;
    color: rgb(17, 29, 74);
}

.delete-trip:hover {
    color: rgb(247, 92, 3);
    cursor: pointer;
}