

.ima {
    border: 3px solid #d96c06;
}

.viaje:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px #111d4a8c;
}

.viaje h6 {
    color: #111d4a;
    font-weight: bold;
}

.container p {
    color: #555;
    margin: 0;
}

.viajes {
    box-shadow: 0 2px 5px rgba(219, 128, 10, 0.877);
}

.iconos {
    color: #111d4a;
}

.detalles {
    text-decoration: none;
}

.description {       
    overflow: hidden;           
    white-space: nowrap;      
    display: block;         
    height: 6em;              
    line-height: 1.5em;       
    text-overflow: ellipsis;      
}

.custom-rounded {
    border-top-left-radius: 50px; /* Ajusta según el tamaño que desees */
    border-bottom-left-radius: 50px; /* Ajusta según el tamaño que desees */
}

.colorAzul {
    color: #111d4a;
}

.colorNaranja {
    color: #e4860c
}

.fondoNaranja {
    background-color: rgb(228, 134, 12);
}